.form {
  display: flex;
  flex-direction: column;
}

.fields {
  display: grid;
  gap: 18px;
}

.submitBtn {
  margin-top: 16px;
}

.switchText {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  line-height: 1.43;
  font-weight: var(--fw-regular);
  color: var(--text-muted);
}

.switchAction {
  font-size: 14px;
  line-height: 1.43;
  font-weight: var(--fw-medium);
  color: var(--text-main);
}

@media only screen and (min-width: 768px) {
  .submitBtn {
    margin-top: 18px;
  }

  .switchText {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
  }

  .switchAction {
    font-size: 16px;
    line-height: 1.5;
  }
}
