.page {
  padding-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  .page {
    padding-bottom: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .page {
    padding-bottom: 80px;
  }
}
