.wrap {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.value {
  font-size: 20px;
  line-height: 1.2;
  font-weight: var(--fw-medium);
  color: var(--text-main);
}

.circle {
  --progress: 0%;
  position: relative;
  border-radius: 50%;
  background: radial-gradient(
      closest-side,
      var(--background-1) 70%,
      transparent 71% 100%
    ),
    conic-gradient(var(--green-main) var(--progress), #d7eadf 0);
}

.md {
  width: 26px;
  height: 26px;
}

.sm {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 767.98px) {
  .value {
    font-size: 18px;
    line-height: 1.1;
  }

  .md {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .value {
    font-size: 20px;
  }

  .md {
    width: 28px;
    height: 28px;
  }
}
